---
layout: default
title: Plastic Reduction
permalink: /reduce/
---

<div class="posts">
  {% for post in site.posts %}
     {% if post.tag == "plastic" %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

        <div class="date">
          Written on {{ post.date | date: "%B %e, %Y" }}
        </div>

      </article>
    {% end if %}
  {% endfor %}
</div>
