---
layout: default
title: Plastic Reduction
---

<div class="posts">

  <p>For the past couple of years, I've been working on reducing the amount of plastic that I use. I've read and seen enough that makes me doubt the amount of recycling that actually happens for plastic, and besides, it requires a lot of energy and resources to produce plastic in the first place.</p>

  <p>Here are some notes about what I've tried so far.

  <p>Plastic free options for:</p>

  {% for tag in site.tags %}
    <!-- <h3>{{ tag[0] }}</h3> -->
    {% if tag[0] == "plastic" %}
      <ul>
        {% for post in tag[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

</div>
